<a href="https://colab.research.google.com/github/00Hammers/00Hammers/blob/main/YT_Search_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PERSONALIZED YOUTUBE SEARCH ALGORITHM**

Con questo progetto prendo dimestichezza o mi meglio impraticisco con:
* YouTube API
* Google Colab
* libreria Requests
* formato json
* libreria pandas

To-do list:
* salvare risultati in un foglio html decentemente formattato
* aggiungere selezione lingue
* inserire feature: (views/iscritti)
* trovare una buona feature per ordinare i risultati della ricerca (meglio una formula tra pi√π feats)
* video recenti vengono persi, sistemare

In [38]:
import requests
import pandas as pd
import time
from datetime import datetime as dt
from datetime import date

# Gettig the data from the API

The API supports two request parameters that enable you to identify the resource properties that should be included in API responses.

* The **part** parameter identifies groups of properties that should be returned for a resource.
* The **fields** parameter filters the API response to only return specific properties within the requested resource parts.

In [2]:
key = "XXX";
ricerca_str = "data+science"
#parameters = "q=" + ricerca_str + "&fields=items(id)&maxResults=500&key=" + key
max_results = '50'
max_results_test = '10'
parameters = "&key=" + key + "&q=" + ricerca_str + "&maxResults=" + max_results
search_url = "https://www.googleapis.com/youtube/v3/search?" + parameters
print(search_url)

https://www.googleapis.com/youtube/v3/search?&key=AIzaSyC-VDWMvkPtYUZt3uQwHTWqY0sZXK4SPKk&q=data+science&maxResults=50

In [94]:
video_IDs = []
pageToken = ""
num_of_pages = 3
num_of_pages_test = 1
#while True:
for i in range(num_of_pages):
  url = search_url + "&pageToken=" + pageToken
  response = requests.get(url).json()

#  time.sleep(1) #give it a second before starting the for loop

  for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
      video_IDs.append(video['id']['videoId'])

  try:
    if response['nextPageToken'] != None:
      pageToken = response['nextPageToken']
  except:
    break

video_IDs[:10]

['X3paOmcrTjQ',
 'xC-c7E5PK0Y',
 '-ETQ97mXXF0',
 'ua-CiDNNj30',
 'uswU1s3M2VE',
 'O9nf1CqjGzI',
 'sOZ8MxFw8TQ',
 'iPdO9MwdcLE',
 'N6BghzuFLIg',
 'DoFZtsV25Zw']

In [95]:
snippet_param = "snippet(title,publishedAt,defaultAudioLanguage,thumbnails(default(url)))"
statistics_param = "statistics(viewCount,likeCount)"
fields_param = "fields=items(" + snippet_param + "," + statistics_param + ")"

part_param = "part=snippet,statistics"

parameters = "id={}&" + part_param + "&" + fields_param + "&key=" + key

In [96]:
video_url = "https://www.googleapis.com/youtube/v3/videos?" + parameters
videos = []
for id in video_IDs:
  response = requests.get(video_url.format(id)).json()
  response['id'] = id
  videos.append(response)

In [6]:
videos[:3]

[{'id': 'X3paOmcrTjQ',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2018-12-04T14:30:01Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/X3paOmcrTjQ/default.jpg'}},
     'title': 'Data Science In 5 Minutes | Data Science For Beginners | What Is Data Science? | Simplilearn'},
    'statistics': {'likeCount': '38324', 'viewCount': '2591347'}}]},
 {'id': 'xC-c7E5PK0Y',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2018-06-23T01:51:50Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/xC-c7E5PK0Y/default.jpg'}},
     'title': 'What REALLY is Data Science? Told by a Data Scientist'},
    'statistics': {'likeCount': '108854', 'viewCount': '2797578'}}]},
 {'id': '-ETQ97mXXF0',
  'items': [{'snippet': {'defaultAudioLanguage': 'en',
     'publishedAt': '2019-08-18T08:30:02Z',
     'thumbnails': {'default': {'url': 'https://i.ytimg.com/vi/-ETQ97mXXF0/default.jpg'}},
     'title': 'Data Science Full Course - Learn Data Science in 10 Hours | Data Science For Beginners | Edureka'},
    'statistics': {'likeCount': '47825', 'viewCount': '2174440'}}]}]

# Fitting the data into a DataFrame

Ora converto i dati JSON in un DataFrame pandas

In [7]:
def getDataVideo(video):
  items = video['items'][0]
  snippet = items['snippet']
  stats = items['statistics']

  id = video['id']
  url = "https://www.youtube.com/watch?v=" + id
  title = snippet['title']
  thumbnail = "https://img.youtube.com/vi/" + id + "/0.jpg"
  date = snippet['publishedAt']
  views = int(stats['viewCount'])
  try:
    language = getFormattedLanguage(snippet['defaultAudioLanguage'])
  except:
    language = ''
  try:
    likes = int(stats['likeCount'])
  except:
    likes = 0

  likes_views_ratio = (likes/views)*100

  return {"Id":id, "URL":url, "Title":title, "Language":language, "Views":views, "Likes":likes, "Likes/Views Ratio":likes_views_ratio, "Date":date, "Thumbnail":thumbnail}

In [8]:
def getFormattedLanguage(lang_code):
  english = ['en', 'en-CA', 'en-GB', 'en-IN', 'en-US']
  spanish = ['es', 'es-IN', 'es-419']
  italian = ['it']

  if lang_code in english:
    language = "English"
  elif lang_code in spanish:
    language = "Spanish"
  elif lang_code in italian:
    language = "Italian"
  else:
    language = lang_code
  
  return language

In [97]:
df_header = ["Id", "URL", "Title", "Language", "Views", "Likes", "Likes/Views Ratio", "Date", "Thumbnail"]
df = pd.DataFrame(columns=df_header)

languages = ['English', 'Italian']
video_count=0
for video in videos:
  video_count += 1
  record = getDataVideo(video)
  
  if record['Language'] in languages:
    df = df.append(record, ignore_index=True)

In [98]:
print(video_count)
df.info()

147
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 103 non-null    object
 1   URL                103 non-null    object
 2   Title              103 non-null    object
 3   Language           103 non-null    object
 4   Views              103 non-null    object
 5   Likes              103 non-null    object
 6   Likes/Views Ratio  103 non-null    float64
 7   Date               103 non-null    object
 8   Thumbnail          103 non-null    object
dtypes: float64(1), object(8)
memory usage: 7.4+ KB

In [99]:
numerical_feats = ['Views', 'Likes', 'Likes/Views Ratio']
df[numerical_feats] = df[numerical_feats].astype('float64')
df['Date'] = df['Date'].apply(lambda x : date.fromisoformat(str(x)[:10]))

print("Duplicates: {}".format(df.duplicated().sum()))
df = df.drop_duplicates(keep='first')

df.info()

Duplicates: 0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 103 non-null    object
 1   URL                103 non-null    object
 2   Title              103 non-null    object
 3   Language           103 non-null    object
 4   Views              103 non-null    float64
 5   Likes              103 non-null    float64
 6   Likes/Views Ratio  103 non-null    float64
 7   Date               103 non-null    object
 8   Thumbnail          103 non-null    object
dtypes: float64(3), object(6)
memory usage: 8.0+ KB

In [100]:
df.sort_values(by=['Likes/Views Ratio'], ascending=False, inplace=True)
df.head()

,Id,URL,Title,Language,Views,Likes,Likes/Views Ratio,Date,Thumbnail
30,V2aIDbpESyU,https://www.youtube.com/watch?v=V2aIDbpESyU,Data Science Learning Path. Learn for free wit...,English,17028.0,1272.0,7.470049,2022-04-14,https://img.youtube.com/vi/V2aIDbpESyU/0.jpg
46,c4Af2FcgamA,https://www.youtube.com/watch?v=c4Af2FcgamA,The One and Only Data Science Project You Need,English,183308.0,10869.0,5.929365,2021-02-24,https://img.youtube.com/vi/c4Af2FcgamA/0.jpg
87,xYsWGzZYZes,https://www.youtube.com/watch?v=xYsWGzZYZes,You must watch this BEFORE spending money on a...,English,19273.0,1141.0,5.920199,2022-02-07,https://img.youtube.com/vi/xYsWGzZYZes/0.jpg
89,jjidSjVnOLk,https://www.youtube.com/watch?v=jjidSjVnOLk,Do You Need Math for Data Science?,English,26783.0,1525.0,5.693910,2021-11-27,https://img.youtube.com/vi/jjidSjVnOLk/0.jpg
16,eJtHzkMy_1k,https://www.youtube.com/watch?v=eJtHzkMy_1k,The math you actually need to know for data sc...,English,19003.0,1022.0,5.378098,2021-04-26,https://img.youtube.com/vi/eJtHzkMy_1k/0.jpg

In [101]:
quant_feats = ['Views','Likes','Likes/Views Ratio','Date','Days','Criteria']

today = date.today()
days = df['Date'].apply(lambda past : (today-past).days)
df['Days'] = days

df['Criteria'] = df['Likes/Views Ratio']

df[quant_feats].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 30 to 77
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Views              103 non-null    float64
 1   Likes              103 non-null    float64
 2   Likes/Views Ratio  103 non-null    float64
 3   Date               103 non-null    object
 4   Days               103 non-null    int64
 5   Criteria           103 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 5.6+ KB

In [102]:
#criteria = df.apply()
df[quant_feats].head()

       Views    Likes  Likes/Views Ratio        Date  Days  Criteria
30   17028.0   1272.0           7.470049  2022-04-14     4  7.470049
46  183308.0  10869.0           5.929365  2021-02-24   418  5.929365
87   19273.0   1141.0           5.920199  2022-02-07    70  5.920199
89   26783.0   1525.0           5.693910  2021-11-27   142  5.693910
16   19003.0   1022.0           5.378098  2021-04-26   357  5.378098

In [106]:
df.sort_values(by=['Days'])[quant_feats]

        Views     Likes  Likes/Views Ratio        Date  Days  Criteria
30    17028.0    1272.0           7.470049  2022-04-14     4  7.470049
75    68389.0    2707.0           3.958239  2022-04-01    17  3.958239
90    84383.0    4187.0           4.961900  2022-03-16    33  4.961900
29    28965.0    1291.0           4.457103  2022-03-14    35  4.457103
66    14672.0     572.0           3.898582  2022-03-03    46  3.898582
..        ...       ...                ...         ...   ...       ...
1   2798028.0  108868.0           3.890883  2018-06-23  1395  3.890883
54   135138.0    2198.0           1.626486  2017-08-28  1694  1.626486
92    81091.0     665.0           0.820066  2017-08-11  1711  0.820066
18   222612.0    3267.0           1.467576  2017-07-19  1734  1.467576
52   257623.0    4133.0           1.604282  2017-06-20  1763  1.604282

[103 rows x 6 columns]

# Final search result visualization
Inserisco i risultati in un foglio html.

In [103]:
path = "yt_algorithm.html"
fp = open(path,"w")
fp.write("<html>\n<body style=\"background-color:black;\">")
fp.write("<font color=\"#fffffe\"/>\n<center>\n")

df1 = df.reset_index()  # make sure indexes pair with number of rows
for index, row in df1.iterrows():
    title = row['Title']
    url = row['URL']
    image_path = row['Thumbnail']

    fp.write("\n<hr>\n<h2><br>{}) {}</br></h2>".format(index+1,title))
    fp.write("\n<div>")
    
    a_tag = "\n\t<div>\n\t<a href='{}'>\n\t\t<img src='{}' width='x%'/>\n\t</a>\n\t</div>"
    fp.write(a_tag.format(url,image_path))
    
    fp.write("\n</div>\n")
      
fp.close()